@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";
@import "leaflet-geosearch/dist/geosearch.css";

/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* ยกเลิกโหมดมืดเพื่อเลี่ยงปัญหาสีข้อความในช่อง input */
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* กำหนดสีตัวอักษรในฟอร์มทั้งหมดให้เป็นสีเข้ม */
input,
textarea,
select,
button {
  color: #1a202c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
